*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  background-color: #032A25;
  font-family: "Lato", sans-serif;
  color: #AA9166;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu-open .nav__menu-body,
.menu-open .nav__menu-body::before {
  left: 0;
}

.icon-menu {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(3, 42, 37, 0.9);
}
.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 15px;
}
.header__logo {
  position: relative;
  z-index: 3;
}
.header__logo img {
  width: 180px;
  cursor: pointer;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  z-index: 2;
}
.header__btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  text-align: center;
}
.header__btn-icon img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header__btn-icon img:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.nav__link {
  display: block;
  color: #AA9166;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.nav__link:hover {
  color: #954337;
}

.search {
  position: relative;
}
.search input {
  color: #954337;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #AA9166;
  background: transparent;
  border-radius: 20px;
  outline: none;
}
.search .someinput::-ms-clear {
  width: 0;
  height: 0;
}
.search input::-webkit-input-placeholder {
  color: #AA9166;
}
.search input::-moz-placeholder {
  color: #AA9166;
}
.search input:-ms-input-placeholder {
  color: #AA9166;
}
.search input::-ms-input-placeholder {
  color: #AA9166;
}
.search input::placeholder {
  color: #AA9166;
}
.search__img {
  position: absolute;
  top: 30%;
  right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.search__img:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

/*========================FREE=====================*/
.free {
  padding-top: 150px;
  padding-bottom: 40px;
}
.free__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
  gap: 10px;
}
.free__text {
  margin-top: 100px;
  margin-left: 20px;
  font-size: 120px;
  color: #954337;
  font-family: "Great Vibes", cursive;
}
.free__content {
  position: relative;
  width: 60%;
}
.free__content img {
  border-radius: 10px;
  max-width: 100%;
  width: 600px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.free__content img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.free__btn {
  position: absolute;
  color: #fff;
  padding: 20px 30px;
  background-color: #AA9166;
  border-radius: 5px;
  left: 10px;
  bottom: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.free__btn:hover {
  color: #AA9166;
  background-color: #954337;
}

/*==================================Slider========================*/
.wrapper-slider {
  width: 100%;
  padding-top: 30px;
}

.slide-container {
  margin: 0 70px;
}

.card {
  background-color: #954337;
  border-radius: 10px 10px 0 0;
}

.image-box {
  height: 300px;
  position: relative;
}

.image-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.image-box img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.profile-details-title {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.profile-details-btn {
  color: #AA9166;
  padding: 15px 20px;
  border: 1px solid #AA9166;
}

.card-wrapper {
  margin-bottom: 70px;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background-color: #967844;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 22px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background-color: #d6a755;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #beb731;
}

/*===============================CARDS=========================*/
.cards {
  padding-bottom: 50px;
}

.card__title {
  font-size: 32px;
  color: #954337;
  margin-bottom: 70px;
}
.card__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}
.advantage__card {
  padding: 10px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.advantage__card:hover {
  -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
.advantage__card-info {
  color: #1b5349;
  text-transform: uppercase;
}

.best-sellers-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.best-sellers__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.3);
}

.best-sellers__card img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.best-sellers__card img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.best-sellers__card h3 {
  padding-left: 5px;
  color: #1b5349;
}

.best-sellers__card span {
  padding-left: 5px;
  color: #954337;
}

/*==============================FOOTER=========================*/
.footer {
  background-color: #954337;
  padding: 60px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.main-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.main-footer__label {
  font-size: 22px;
}
.main-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.main-footer__item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-footer__item:hover {
  color: #032A25;
}

.subscribe {
  position: relative;
  width: 200px;
}
.subscribe__input {
  position: relative;
  background-color: #001815;
  outline: none;
  padding: 12px 15px;
  color: #AA9166;
}
.subscribe__input::-webkit-input-placeholder {
  color: #c7a873;
}
.subscribe__input::-moz-placeholder {
  color: #c7a873;
}
.subscribe__input:-ms-input-placeholder {
  color: #c7a873;
}
.subscribe__input::-ms-input-placeholder {
  color: #c7a873;
}
.subscribe__input::placeholder {
  color: #c7a873;
}
.subscribe__img {
  position: absolute;
  top: 30%;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.subscribe__img:hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

/*=========================Media============================*/
@media screen and (max-width: 1050px) {
  .nav__list {
    gap: 15px;
  }
  .search input {
    width: 110px;
  }
}
@media screen and (max-width: 1035px) {
  .free__text {
    margin-top: 70px;
    font-size: 90px;
  }
}
@media screen and (max-width: 900px) {
  .search input {
    width: auto;
  }
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #AA9166;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    top: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav__menu-body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #041815;
    left: -100%;
    top: 0;
    padding: 120px 15px 30px 15px;
    overflow: auto;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .nav__menu-body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #041815;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .nav__list {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .nav__link {
    font-size: 26px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .footer__column img {
    width: 200px;
  }
}
@media screen and (max-width: 845px) {
  .card__advantages {
    display: grid;
    grid-template-columns: 50% 2fr;
  }
  .advantage__card {
    width: auto;
  }
  .best-sellers-cards {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}
@media screen and (max-width: 775px) {
  .free__text {
    margin-top: 50px;
    margin-left: 0;
    font-size: 70px;
  }
  .free__btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .free__content {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
  .slide-container {
    margin: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  .search input {
    width: 110px;
  }
  .free {
    padding-top: 100px;
  }
  .free__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .free__title {
    text-align: center;
  }
  .free__content {
    width: 100%;
    margin: 0 auto;
  }
  .free__text {
    margin-top: 30px;
    font-size: 60px;
  }
  .free__btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .main-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
@media screen and (max-width: 520px) {
  .image-box {
    height: 300px;
  }
  .slide-container {
    margin: 0 70px;
  }
}
@media screen and (max-width: 485px) {
  .header__logo {
    display: none;
  }
  .search input {
    width: auto;
  }
  .free__btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .card__advantages {
    display: grid;
    grid-template-columns: 1fr;
  }
  .best-sellers-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 400px) {
  .search input {
    width: 100px;
  }
  .search .search__img {
    right: 10px;
  }
}
@media screen and (max-width: 375px) {
  .free__container {
    margin-bottom: 50px;
  }
  .image-box {
    height: 230px;
  }
  .profile-details {
    padding: 12px;
  }
  .profile-details-title {
    font-size: 16px;
  }
  .profile-details-btn {
    padding: 10px 12px;
  }
}
@media screen and (max-width: 320px) {
  .image-box {
    height: 200px;
  }
}